*{
    padding: 0;
    margin: 0;
}
header{
    display: flex;
    background-color: aliceblue;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}
.container{
    display: flex;
}
.logo{
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.logo img{
    width: 30px
}
.logo h1{
    color: white;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
  padding-left: 100%;
    gap: 35px;
}
nav a{
    color: black

}
nav img{
    width: 20px;
}
.content{
    display: flex;
    height: 100vh;
  
}
#logo img{
display: flex;
justify-content: right;

}
