body {
    background-color: lightblue
  }
   h1 {
    color:rgb(252, 4, 4);
    text-align: center;
   }
   p { 
        font-family: "Times New Roman", Times, serif;
        font-style: italic;
        font-size: medium;
      }
   img {
    clip-path: circle(50%);;
   }